body {
	font-family: "Poppins";
	}
	
p,
article,
main {
	padding-bottom: 10px;
	
	}
footer {
  padding-bottom: 18px;
  line-height: 1.3;
  margin: 0;
  text-align: center;
	}

article img {
	margin: auto;
     display: block;
     text-align: center;
 	 justify-content: center;
  	align-items: center;
	}
.IMG_HOME {
    width: 200px;
     height: 280px;
    }


h1 {
	padding: 0px;
	font-size: 28px;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 6px;
	margin: 1.25rem 0 1.25rem;
	font-weight: 600;
	}
h2 {
	padding: 5px;
	font-size: 25px;
	text-align: center;
	padding-bottom: 13px;
	padding-top: 15px;
	}
	
h3 {
	font-size: 21px;
	text-align: left;
	padding-bottom: 6px;
	padding-top: 6px;
	}

.MID {
  line-height: 1.3;
  margin: 0;
  padding: 4px;
  text-align: center;
}

a {
color: white;

}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #007d9c;
	}
h4 {
font-size: 17px;
color: #6610f2
}

h5 {
font-size: 15px;
color: #4400C6;
font-weight: 700;
}

h6 {
font-size: 12px;
padding-top: 0px;
padding-bottom: 0px;
font-weight: 800;
}

.ICON_MAIN {
	width: 50%;
	height : auto;
	vertical-align: middle;
	margin-left: 10px;
	}
a:link {
	text-decoration: none;
	}


a:visited {
	text-decoration: none;
	}


a:hover {
	text-decoration: none;
	}


a:active {
	text-decoration: none; 
	}



ul {
	font-size: 17px;
	}

strong,
b {
	font-weight: 507;
	}
	
body {
  min-height: 75rem;
  padding-top: 6.5rem;
}

.img_install {
    border: 2px solid #555;
    margin-bottom: 1.25rem;  /* 20px */
    /* Tambahkan border-radius untuk rounded corners (opsional) */
    border-radius: 8px;
    width : 40%;
    height : auto;
}

.img_download {
	text-align: center;
	width: 170px;
	height: 170px;
	margin-top: 0px;
	padding-top: 0px;
	display: flex;

}
.img_roww {
	margin-top: 0px;
	padding-top: 0px;
	
	}
.FMID {
text-align: center;
justify-content: center;
align-items: center;
align: center;
font-align: center;
display: block;
margin-left: auto;
margin-right: auto;
}


.ICON {
	width: 23px;
	height: 23px;
	vertical-align: middle;
	margin-right: 8px;
	}
	
.DOWNLOAD_ICON {
width:22px;
height:22px;
text-align: center;
}
em {
  color: black;
  font-weight: 540;
}
i {
	
	font-weight: 402;
	font-size: 1.0em;
	}
.header {
  width: 100%;
  max-width: 1920px;
  height: auto; /* Tinggi akan menyesuaikan otomatis dengan lebar */
}

.header img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center; /* Horizontal Centering */
  align-items: center;
  object-fit: cover; /* Menjaga rasio aspek gambar agar tidak terdistorsi */
}

.game_title {
  text-align: center;
  font-size : 20px;
  font-weight: 500;
	
	}

.img_download2 {
	text-align: center;
	width: 140px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding : 40px;
	display: flex;

}

ul {
  list-style-type: disc;
}

.footer_title {
    color: black;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.3rem;
    margin: 0.3rem;
}

.download-button {
    background-color: #3b5bfb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    border-radius: 19px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #005da8; /* Ganti warna hover jika mau */
}

.download-button:active {
    box-shadow: 0 0 10px 5px #0078D4;
}

.img-download-btn {
    text-align: center;
    padding: 1em;
    padding-bottom: 2.8em;
}

.img-download-btn img:active {
    transform: scale(0.95);
}

.DOWNLOAD-BOTTON {
    padding: 13px 40px;
    background-color: #7F8CFF;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    font-weight: 500;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
