{{ partial "js.html" . }}
<hr>

<div class="b-example-divider"></div>

<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <div class="footer_title">Support</div>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://dolphin27.gitlab.io" class="nav-link p-0">Dolphin Emulator</a></li>
          <li class="nav-item mb-2"><a href="https://androidroot.site" class="nav-link p-0">Android Root</a></li>
          <li class="nav-item mb-2"><a href="https://winlator.me" class="nav-link p-0">Winlator</a></li>
          <li class="nav-item mb-2"><a href="https://ppsspp.info" class="nav-link p-0">Ppsspp</a></li>
          <li class="nav-item mb-2"><a href="https://pcsx2.me" class="nav-link p-0">PCSX2</a></li>
          <li class="nav-item mb-2"><a href="https://rpcs3.me" class="nav-link p-0">RPCS3</a></li>
          <li class="nav-item mb-2"><a href="https://ps2bios.site/" class="nav-link p-0">PS2 Bios</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <div class="footer_title">Social Media</div>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://facebook.com/groups/332597627343236/" class="nav-link p-0">Facebook</a></li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://t.me/aethersx2_emulator" class="nav-link p-0">Telegram</a></li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://dolphin-emu.site" class="nav-link p-0">Dolphin Emulator</a></li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="https://ps2bios.site" class="nav-link p-0">PS2 BIOS</a></li>
        </ul>
      </div>
	</div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; {{ now.Format "2006"}} PS2 Bios</p>
    </div>
  </footer>
</div>