{{ partial "js.html" . }}
<footer>
        <div class="container">
            <div class="footer-links">
                <a href="https://t.me/dolphin_emu" target="_blank" rel="noopener noreferrer">Telegram</a>
                <a href="https://androidroot.site/" target="_blank" rel="noopener noreferrer">Android Root</a>
                <a href="https://dolphin-emu.site/" target="_blank" rel="noopener noreferrer">Dolphin Emulator</a>
                <a href="https://winlator.me/" target="_blank" rel="noopener noreferrer">Winlator</a>
                <a href="https://aethersx2.me/" target="_blank" rel="noopener noreferrer">Aethersx2.me</a>
                <a href="https://pcsx2.me/" target="_blank" rel="noopener noreferrer">PCSX2</a>
                <a href="https://aethersx2.gitlab.io/" target="_blank" rel="noopener noreferrer">aethersx2.gitlab.io</a>
                <a href="https://rpcs3.me/" target="_blank" rel="noopener noreferrer">RPCS3 Emulator</a>
                <a href="https://ps2bios.site/" target="_blank" rel="noopener noreferrer">PS2 BIOS</a>
                <a href="https://roms9.com/" target="_blank" rel="noopener noreferrer">ROMs9</a>
            </div>
            <p class="footer-copyright">Copyright &copy; 2025 PS2 BIOS Community</p>
        </div>
    </footer>